@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#main {
    display: flex;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#control-panel {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#control-panel div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: fit-content;
    box-shadow: 0 3px 3px rgba(0,0,0,0.25), 0 -1px 1px rgba(0, 0, 0, 0.05);
}

#draw-panel {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

#user-canvas {
    height: 512px;
    width: 512px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.25), 0 -1px 1px rgba(0, 0, 0, 0.05);
}

.tool-btn {
    width: 100%;
    height: 48px;
    border-width: 0;
    background-color: white;
    cursor: pointer;
    padding: 0 10px;
}

.tool-btn:hover {
    background-color: #f6f4f4;
}

.tool-btn-chosen {
    background-color: #eceaea;
}

.tool-btn-chosen:hover {
    background-color: #eceaea;
}

.btn-contains {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-contains .btn-txt {
    text-align: left;
    width: 80%;
    padding-left: 30px;
}

.btn-img {
    width: 24px;
    height: 24px;
}

#color-input {
    display: none;
}

#color-ico {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: antiquewhite;
}

.btn-txt {
    color: black;
    opacity: 0.5;
    font-family: 'Roboto', sans-serif;
}

